@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: black;
  background: white;
}
.box {
  --mask: conic-gradient(from -50deg at bottom,#0000,#000 1deg 99deg,#0000 100deg) 50%/71.51px 100%;
  -webkit-mask: var(--mask);
          mask: var(--mask);
}